<div>

<div class="carousel-main" *ngIf="carousel">
  <div class="">
      <div class="">
          <div class="title">
              <h2>{{carousel.title}}</h2>
              <div class="loader-line"></div>
          </div>
      </div>
  </div>
  <div class="">
      <div class="">
          <div class="desktop-carousel">
              <br />
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                   >
                  <div ngxSlickItem *ngFor="let item of carousel.products" class="slide">
                      <div class="">
                          <a href="{{item.url}}">
                              <div class="item">
                                  <div class="image">
                                      <img src="{{item.image}}" alt="">
                                  </div>
                                  <div class="data">
                                      <h6>{{item.name}}</h6>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </ngx-slick-carousel>
              <br />
          </div>
      </div>
  </div>
</div>




<!-- 2nd iteration -->
<div>

    <div class="carousel-main" *ngIf="carousel">
      <div class="">
          <div class="">
              <div class="title">
                  <h2>{{carousel.title}}</h2>
                  <div class="loader-line"></div>
              </div>
          </div>
      </div>
      <div class="">
          <div class="">
              <div class="desktop-carousel">
                  <br />
                  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                       >
                      <div ngxSlickItem *ngFor="let item of carousel.products" class="slide">
                          <div class="">
                              <a href="{{item.url}}">
                                  <div class="item">
                                      <div class="image">
                                          <img src="{{item.image}}" alt="">
                                      </div>
                                      <div class="data">
                                          <h6>{{item.name}}</h6>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </ngx-slick-carousel>
                  <br />
              </div>
          </div>
      </div>
    </div>